*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin-inline: auto;
  color: #742305;
}

main {
  padding: 1rem;
  height: calc(100vh - 82px);
  overflow-y: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

.container {
  padding: 60px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex-direction: column;
  max-width: 48.3%;
  background-color: #fef7e2;
  border-radius: 50px;
  display: flex;
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 100%;
  }
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-body h4 {
  margin: 0;
}
.card-body p {
  margin-top: 0;
}

.card-content {
  display: flex;
  align-items: center;
}
.card-content p {
  flex-grow: 1;
}

.card button {
  font-weight: 600;
}

header {
  background-color: #fef7e2;
  justify-content: space-between;
  border-radius: 50px;
  position: sticky;
}

header nav {
  align-items: center;
  padding: 1rem;
  gap: 20px;
  justify-content: space-around;
  margin-right: auto;
}

ul {
  flex-direction: row;
  max-width: 100%;
  display: flex;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

ul li {
  background-color: #ffdf7f;
  border-radius: 50px;
  justify-content: space-evenly;
  padding: 10px;
  margin: auto;
  width: 100px;
  cursor: pointer;
}

ul li:nth-of-type(3) {
  height: 50px;
  margin: auto;
  align-items: center;
}

.shop-logo {
  width: 20px;
  height: 20px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffdf7f;
  align-self: center;
  cursor: pointer;
}

article {
  background-color: #fef7e2;
  padding: 30px;
  border-radius: 30px;
}

article p {
  font-size: 1.1rem;
}

article img {
  margin-inline: auto;
  width: 100%;
}
